{{!-- container for png --}}

{{!-- container for header --}}

<h1>BurgerZZ</h1>

{{!-- container for burgers --}}

<h3>Create a Burger</h3>

<ol>
  {{#each cats}}
    {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ol>

{{!-- container for devoured burgers --}}

<h3>Crushed Burgers</h3>

<ol>
  {{#each cats}}
    {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ol>

{{!-- text field --}}

{{!-- submit button --}}